/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Oswald:wght@200;300;400&display=swap');


*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
}
/* contact whatsapp button */
body{
    background: #ccc;
}
.strong{
    display: flex;
    gap: 3vh;
    color: #000;
}
.base{
    position: fixed;
    bottom: 30px;
    right:50px;
    z-index:99;
    display: inline-block;
    gap: 2vh;
}

.base img{
    max-width: 7vh;
    gap: 3vh;
    margin-right: -1vh;
    border-radius: 10vh;
    background: transparent;
    animation: inOut .5s infinite alternate;
    padding: 5px;
}
@keyframes inOut {
    from {
        transform: scale(1.2);
    }
    to{
        transform:  scale(0.8);
    }
}
.strong .base .cont{
    background: #fff;
    height: 6vh;
    width:14vh;
    float: left;
    border-radius: 1vh;
    margin-left: 3vh;
    /* box-shadow: 2px 2px 2px 2px #ccc; */
box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.15);

}
.strong .base .cont h3{
    text-align:center;
    padding:  3px 1vh;
    font-size: 16px;
    font-weight: 400;
}
.strong .base .cont h2{
    text-align:center ;
    padding: 0vh 1vh;
    font-size: 16px;
    margin-top: -0.1vh;

}

/* Ending of whatsapp contact button */

li,a,button{
    font-weight: 300;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 30px 4%;
    background: #000;
    color:#fff;
    height: 8vh;

}
.logo {
    cursor: pointer;
    font-size: 2vh;
    letter-spacing: 0.7px;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a{
    transition: all 0.3s ease 0s;
    font-size: 12px;
    font-weight: bold;
}
.nav-links li a:hover{
color: #ccc;
border: 2px solid #ccc;
padding: 4px;
border-radius: 8px;

}
header button {
    background: #fff;
    color: #000;
    padding: 6px;
    border-radius: 10px;
    width: 12ex;
    font-weight:500;
}
header button:hover{
    opacity: 0.8;
}

/* Ending of the header  */

/* online_notification */
.wrapper {
    position: absolute;
    top:20px;
    left:20px;
    animation: show_toast 1s ease forwards;
    cursor: pointer;
}
@keyframes show_toast {
    0% {
        transform: translateX(-100%);
    }
    40% {
        transform: translateX(10%);
    }
    80%, 100% {
        transform: translateX(20px);
    }
}

/* Online notification that will hide it after some minute */
.wrapper.hide{
    animation: hide_toast 1s ease forwards;
}
@keyframes hide_toast {
    0%{
        transform: translateX(20px);
    }
    40% {
        transform: translateX(10%);
    }
    80%, 100% {
        opacity: 0;
        pointer-events: none;
        transform: translateX(-100%);
    }
}
/* Ending of Online notification that will hide it after some minute */

.wrapper .toast {
    background: #fff;
padding: 20px 15px 20px 20px;
border-radius: 10px;
border-left: 5px solid #ccc;
box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.15);
width: 430px;
display: flex;
align-items: center;
justify-content: space-between;
}
.toast .content {
    display: flex;
    align-items: center;
}
.wrapper .toast.offline {
    border-color: #ccc;
}
.wrapper .icon {
    font-size: 25px;
    color: #fff;
    height: 50px;
    width: 50px;
    padding-top: 1.3vh;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    background: #000;
}
.toast.offline .content .icon {
    background: #fff;
    color: #000;
}
.content .details {
    margin-left: 15px;
}
.details span {
    font-size: 20px;
    font-weight: 500;
}
.details p{
    color: #878787;

}
.toast .close-icon {
    color: #878787;
    font-size: 29px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    padding-top: 0.8vh;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background:#ccc;
    transform: all 0.3 ease;
}
.close-icon:hover{
    background: #efefef;
}
/* styling the body */
.main {
    /* background-image: url(/Assest/home-bg1.jpg); */
    height: 78vh;
    background:#fff;
}
.container {
    padding-left:8vh;
    padding-top: 20vh;
   
}

.container h3{
    font-size: 2.8vh;
    color: black;
}
.container h2{
    font-size: 5.7vh;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:#222;
    color:transparent;
    font-weight: bold;
}
.container p{
    width: 58vh;
    font-size: 1.9vh;
    color: #222;
    font-weight: bold;
    margin-top: 1vh;
}
.container .buttons {
    gap: 5vh;
    padding: 3vh 0vh;
}
.container .buttons .btn {
 width: 20vh;
    color: #fff;
height: 6vh;
border-radius: 10px;
border: none;
background: #000;
font-size: 2vh;
font-weight: bold;
}
.container .buttons .btn_pay {
    width: 20vh;
       color: #000;
   height: 6vh;
   /* font-weight: bold; */
   border-radius: 10px;
   border: 2px solid #000;
   background: transparent;
   font-size: 2vh;
   font-weight: bold;
   }
   .container .buttons .btn_pay:hover {
    background: #000;
    color:#fff;
    border: none;
   }
  
   .container .image {
    float: right;
    margin-top: -40vh;
    padding-right: 5vh;
   }
   
   #myBtn {

  position: fixed;
  bottom: 30px;
left: 50px;
  /* z-index: 99; */
  border: none;
  outline: none;
  /* background: linear-gradient(to right, var(--color-primary), var(--color-secondary), var(--color-ternary)); */
background: #fff;
  cursor: pointer;
  border-radius: 24vh;
  padding: 2vh;
  box-shadow: 4px 10px 14px -5px rgba(0,0,0,0.15);
  
  }
  #myBtn img{
    width: 3vh;
  }
.flex-container {
    height: 40vh;
    background: #ccc;
padding-left: 7vh;
padding-right: 7vh;

    display: flex;
    margin: auto;
    justify-content: center;
gap: 3vh;
}
.flex-container .ads {
    width: 50vh;
    height: 30vh;
    background: #F0F0F0;
    border-radius: 4vh;
    /* border-left:3px solid #636363; */
    
    
}
.flex-container .ads:hover {
    border-right:7px solid #000;
    box-shadow: 4px 10px 14px -5px rgba(0,0,0,0.15);
transition: .5s ease-out;
}
.flex-container .ads img{
width: 6vh;
margin: auto;
padding-top: 4vh;
justify-content: center;
display: flex;
}
.flex-container .ads h2{
    text-align: center;
    font-size: 3.3vh;
    padding-top: 2vh;
    color: 
    #222;
}
#active{
    background: #000;
    color: #fff;
}

#active:hover{
    border-right:7px solid #fff;
    box-shadow: 4px 10px 14px -5px rgba(0,0,0,0.15);
/* transition: .5s ease-out; */
}
.flex-container .ads p{
    text-align: center;
    padding-top: 1vh;

padding-left: 5vh;
padding-right: 5vh;
}
#five {
    font-size: 7vh;
    /* margin: auto; */
padding-top: 4vh;
justify-content: center;
display: flex;
}
#active h2{
    color: #ccc;
}
.sales {
    background: #fff;
    height: 80vh;
}
.sales h2{
    padding-left: 8vh;
    padding-top: 4vh;
}
.sales-picture {
    display: flex;
    padding-left: 7vh;
    padding-right: 7vh;

    padding-top: 4vh;
gap: 3vh;
margin: auto;
justify-content: center;
}
.sales-picture .sale-main {
background: #000;
width: 45vh;
height: 60vh;
border-radius: 2vh;
border-top:7px solid #ccc;
}
#boy{
/* height: 58vh; */

}
#cakeb{
    margin-top: 2.7vh;
}
.sales-picture .sale-main:hover{

}
.sales-picture .sale-main:hover{
    content: "";
    /* background: rgba(0, 0, 0, 0.048); */
    object-fit: cover;
}
.sales-picture .sale-main img {
    width: 23vh;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 2vh;
}
.sales-picture .sale-main .rate {
    background: rgba(236, 232, 232, 0.315);
    height: 28vh;
    border-top-left-radius: 3vh;
    border-top-right-radius: 3vh;
    border-top:7px solid #fff;
    border-bottom:7px solid #ccc;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;

}
#down{
    margin-top: 1.3vh;
}
#top {
    margin-top: -1vh;
}
.sales-picture .sale-main .rate h1{
    font-size: 4vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    color: white;
    font-weight: lighter;
}
.sales-picture .sale-main .rate h3{
    text-align: center;
    padding-top: 2vh;
    color:#ccc;
    letter-spacing: 1px;
}
.sales-picture .sale-main .rate em{
    font-style: normal;
    /* color: #000;
    font-weight: bold; */
}
/* .sales-picture .sale-main .rate i{
    font-size: 4vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    color: white;
    font-weight: lighter;
    padding-top: 2vh;
} */
.sales-picture .sale-main .rate .icons-star{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 3vh;
    gap: 1vh;
    margin-top: -1.6vh;
}
.sales-picture .sale-main .rate .icons-star i{
    font-size: 3vh;
    
}
/* 
.sales-picture .sale-main .rate .icons-star .checked{
    color:red;
}

.sales-picture .sale-main .rate .icons-star em {
    color: #F0F0F0;

} */
.btn_buttons{
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    padding-top: 2vh;
}
.btn_buttons button {
    background: #000;
    color: #fff;
    width: 27vh;
    height: 5vh;
    border-radius: 1vh;
    font-size: 1.9vh;
       font-weight: bold;
}
.btn_buttons button:hover{
    opacity: 0.8;

}
.sales-picture .sale-main .rate h4{
    color: #ccc;
    text-align: center;
    padding-left: 3vh;
    padding-right:3vh;
    padding-top: 1vh;
}